body {
    background-color: #00ff00;
}

#app {
    background-color: magenta;
    color: #white;
    font-family: ComicSans MS, cursive, sans-serif;
    text-align: right;
    padding: 50px;
}

h1 {
    font-family: Papyrus, fantasy;
    font-size: 60px;
    color: magenta;
    animation: flicker 0.2s infinite alternate;
    text-transform: uppercase;
    letter-spacing: 5px;
}

button {
    background-color: magenta;
    color: pink;
    border: 5px dotted lime;
    font-size: 30px;
    margin-top: 200px;
    padding: 40px;
    cursor: help;
    transform: translateX(400px);
}